@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --bg-color-primary: white;
    --bg-color-secondary: grey;
    --bg-color-acccent: green;
    --color-primary: black;
    --color-secondary: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-color-secondary);
    min-height: 100vh;
    padding: 12px;
}

header {
    display: flex;
    justify-content: end;
    /* padding-bottom: 0px 0 8px; */
}

#add-note {
    background-color: var(--bg-color-acccent);
    color: var(--color-secondary);
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
}

.noteHeader {
    height: 20px;
    background-color: var(--bg-color-acccent);
    display: flex;
    justify-content: end;
    padding: 4px;
    border-radius: 4px 4px 0 0;
}

.noteTrash {
    background-image: url('trash-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 10%;
    cursor: pointer;
}

.noteCanvas {
    flex-grow: 1;
    background-color: var(--bg-color-primary);
    border-radius: 0 0 4px 4px;
    resize: none;
}

.noteCanvas:focus {
    outline: none;
}